.not-found-container {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.not-found-container h1 {
  font-size: 32px;
  margin: 0;
  color: #1e293b;
  font-family: 'Roboto';
  margin-top: 50px;
}

.not-found-container p {
  font-size: 12px;
  margin: 20px 0;
  color: #1e293b;
  font-family: 'Roboto';
}

.not-found-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6347;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.not-found-container button:hover {
  background-color: #ff4500;
}

.not-found-img {
  height: 300px;
  width: 400px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .not-found-container {
    padding: 20px;
  }

  .not-found-container h1 {
    font-size: 24px;
  }

  .not-found-container p {
    font-size: 14px;
  }

  .not-found-container button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .not-found-img {
    width: 100%;
    height: auto;
  }
}
